.currency_dropdown {
  /* width: 170.61px; */
  /* width: fit-content; */
  width: 100%;
  position: relative;
}
.currency_dropdown_btn {
  height: 38px;
  background: #ffffff;
  border: 1px solid rgba(144, 142, 142, 0.5);
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding: 10px 20px;
}
.currency_dropdown_btn_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: #908e8e;
}
.currency_dropdown_btn_title {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #908e8e;
}

.currency_dropdown_content {
  display: none;
  position: absolute;
  top: 90%;
  width: 100%;
  left: 0;
  border: 1px solid rgba(199, 192, 192, 0.5);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 1rem 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  z-index: 100000;
  animation: dropdownAnim 0.2s ease forwards;
}
@keyframes dropdownAnim {
  0% {
    opacity: 0;
  }
  100% {
    top: 120%;
    opacity: 1;
  }
}

.currency_dropdown_content.show {
  display: block;
}
.currency_dropdown_content_title {
  padding: 0.3rem 1rem;
  cursor: pointer;

  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #908e8e;
}

@media (max-width: 1350px) {
  .currency_dropdown {
    width: 170.61px;
  }
}
